<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>BrewBase</h1>
            <div id="login-error-message" class="alert alert-danger" style="display:none">
                <strong>Invalid Login!</strong>
            </div>
            <form (ngSubmit)="onSubmit(email.value, password.value)" #loginForm="ngForm">
                <div class="form-content">

                    
                    <div class="form-group">
                        <input #email type="text" ng-model="this.email" class="form-control input-underline input-lg" id="email" placeholder="Email" email.value="" required>
                    </div>

                    <div class="form-group">
                        <input #password type="password" ng-model="this.password" class="form-control input-underline input-lg" id="password" placeholder="Password" passoword.value="" required>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" > Log in </button>
                <!-- <button class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="tryLogin(email.value, password.value)"> Log in </button> -->
                
            </form>
        </div>
    </div>
</div>
